*{
    transition: all 0.5s;
}

.col-md-3 {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    top: 50px;
}
.nav-link{
    text-align: center;
}

.card-body {
    padding: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

